<div class="panel panel-default">
  <div class="panel-heading">Контакты
  <button (click)="modalAdd.open()" class="btn btn-primary button">Добавить контакт</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered tablecust">
      <thead>
        <tr><td>Имя</td><td>Email</td><td style="width: 20px;"></td><td style="width: 20px;"></td></tr>
      </thead>
      <tr *ngFor="let contact of contacts" (click)="onSelect(contact)">
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td (click)="modalUpdate.open()"><span class="glyphicon glyphicon-pencil" style="width: 20px;"></span></td>
        <td (click)="modalRemove.open()"><span class="glyphicon glyphicon-trash" style="width: 20px;"></span></td>
      </tr>
    </table>
  </div>
</div>
<modal #modalUpdate>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Редактирование контакта</h4>
    </modal-header>
    <modal-body>
        <my-contact-details [contact]="selectedContact" (save)="save($event)"></my-contact-details>
    </modal-body>
</modal>
<modal #modalAdd>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Добавление контакта</h4>
    </modal-header>
    <modal-body>
        <my-contact-add (add)="add($event)"></my-contact-add>
    </modal-body>
</modal>
<modal #modalRemove>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Удаление контакта</h4>
    </modal-header>
    <modal-body>Вы действительно хотите удалить контакт?</modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary"  (click)="modalRemove.close()" (click)="remove(selectedContact.id)">Удалить</button>
    </modal-footer>
</modal>