<div class="panel panel-default">
  <div class="panel-heading">Контакты</div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <tr><td>Имя</td><td>Email</td></tr>
      <tr *ngFor="let contact of contacts" (click)="onSelect(contact)" [class.selected]="contact === selectedContact">
        <td>{{contact.name}}</td><td>{{contact.email}}</td>
      </tr>
    </table>
  </div>
</div>
<my-contact-details [contact]="selectedContact" (save)="save($event)"></my-contact-details>