.contacts .text {
    position: relative;
    top: -3px;
  }
.panel {
  position: relative; 
  top: 5px;
}
.table {
    background-color: #e3eff7;
    position: relative; 
    top: 5px;
}
.button{
    right: 10px;    
}
.button .text {
    color: black;
}
.selected {
    background-color: #BBD8DC !important;
    color: white;
}